.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  justify-content: flex-start;
  padding: 20px; /* Space around the content */
}

.categories-container {
  display: flex;
  gap: 20px;
  width: 100%;
}

.categories-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 220px; /* Adjusted width */
  height: 430px; /* Increased height */
  flex-shrink: 0; /* Prevent shrinking */
}

.categories-card ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
}

.categories-card li {
  margin-bottom: 10px; /* Space between items */
}

.categories-card a {
  color: #000; /* Black color for the text */
  text-decoration: none; /* Remove underline */
  font-size: 16px; /* Adjust text size */
  font-weight: 600; /* Semi-bold text */
  display: block; /* Make links block-level to add margin */
}

.categories-card a:hover {
  color: #064201; 
}

.carousel-container {
  flex: 1;
  height: 430px; /* Increased height to match categories card */
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Ensure content fits within the container */
}

.carousel-container .carousel-item img {
  height: 100%;
  width: 100%; /* Ensure the image covers the full width of the container */
  object-fit: cover; /* Cover the container area */
}
